.body{
    background-image: url(https://i.imgur.com/dIsSAWa.jpg);
    background-size: cover;
}		

* {
    background-color: #24303c;padding: 0px;
	margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #f6f8fa;
    
}
